@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.banner{
  position: relative;
  font-family: 'Changa', sans-serif;

}
.banner-img{
  width: 1200px;
}
.banner-title{
    position: absolute;
    top: 70%;
    left: 8%;
    font-size: 5.5rem;
    line-height: 20px;
    color: #fff;
}

.article-text{
    text-align: center;
    font-size: 5rem;
}

#notFoundMessage{
    display: none;
    text-align: center;
    font-size: 15px;
}


#productList{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  gap: 10px;
  margin-left: 20px;
}

.product-card {
  cursor: pointer;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.img-item  {
  width: 100%;
}

.hover-image {
  width: 100%;
  display: none;
}

.product-card:hover .hover-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.add-to-cart{
  border: 0;
  height: 30px;
  background-color: black;
  color: #fff;
  border-radius: 50px ;
}

.add-to-cart:hover{
  background-color: rgb(51, 51, 51);
}