@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.banner{
    position: relative;
    font-family: 'Changa', sans-serif;

}
.banner-title{
    position: absolute;
    top: 70%;
    left: 8%;
    font-size: 5.5rem;
    line-height: 20px;
    color: #fff;
}

.article-text{
    text-align: center;
    font-size: 5rem;
}

#notFoundMessage{
    display: none;
}


#productContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.image-container {
    position: relative;
    width: 300px; /* Đổi kích thước tùy ý */
    height: 200px; /* Đổi kích thước tùy ý */
    overflow: hidden;
  }
  
  .img-item {
    width: 100%;
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển đổi opacity */
  }
  
  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease; /* Hiệu ứng hiển thị ảnh khi hover */
  }
  
  .image-container:hover .img-item {
    opacity: 0; /* Khi hover, ẩn ảnh gốc */
  }
  
  .image-container:hover .hover-image {
    opacity: 1; 
  }