@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.banner{
  position: relative;
  font-family: 'Changa', sans-serif;

}
.banner-img{
  width: 1200px;
}
.banner-title{
    position: absolute;
    top: 70%;
    left: 8%;
    font-size: 5.5rem;
    line-height: 20px;
    color: #fff;
}

.article-text{
    text-align: center;
    font-size: 5rem;
}

#notFoundMessage{
    display: none;
    text-align: center;
    font-size: 15px;
}


#productList{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  gap: 20px 10px;
  margin-left: 20px;
}

.product-card {
  display: block;
  cursor: pointer;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.img-item  {
  width: 100%;
}

.hover-image {
  width: 100%;
  display: none;
}

.product-card:hover .hover-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.add-to-cart{
  border: 0;
  height: 30px;
  background-color: black;
  color: #fff;
  border-radius: 50px ;
}

.add-to-cart:hover{
  background-color: rgb(51, 51, 51);
}

#product-1,
#product-2{
  grid-column: span 2;
}
#cart-list {
  list-style: none;
  padding: 0;
}

.cart-item-image {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.cart-item-name {
  margin-right: 10px;
}

.cart-item-price {
  color: #888;
}

/* Style cho nút tăng/giảm số lượng */
.cart-item button {
  background-color: #f2f2f2;
  border: none;
  padding: 4px 8px;
  margin: 0 4px;
  cursor: pointer;
}
.cart-item-quantity {
  color: #888;
  font-size: 12px;
}

/* Style cho nút tăng/giảm số lượng và tổng số tiền */
.cart-item button {
  background-color: #f2f2f2;
  border: none;
  padding: 4px 8px;
  margin: 0 4px;
  cursor: pointer;
}

.cart-total {
  font-weight: bold;
}


.add-to-cart-button{
  border: 1px solid;
  height: 35px;
  background-color: black;
  color: #fff;
  width: 135px;
  border-radius: 50px;
}

.add-to-cart-button:hover{
  background-color: rgb(40, 40, 40);
}